.planner-main {
    position: relative;
    height: 100vh;
    width: 100vw;
    border-top: 10px solid rgba(161, 160, 160, 0.644);
}

.planner-header{
    position: absolute;
    margin-left: 50%;
}
