.closet-main{
    /* margin-top: 50px; */
    border-top: 5px solid rgb(230, 230, 230);
    border-left: -5px solid gray;
    border-right: -5px solid gray;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    height: 90vh;
    background-color: rgb(230, 230, 230);
}

.big-closet-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 5px solid rgb(230, 230, 230);
    position: relative;
    max-height: 90vh;

}

/* =================== Image Hovering ======================== */

.closet-container {
    position: relative;
    display:flex;
    justify-content:center;
    width: 83vw;
    height: 92.5vh;
    border-top: 5px solid rgb(230, 230, 230);
}
.closet-container img {
    position: absolute;
    width: 83vw;
    height: 92.5vh;
}
.closet-container .map-selector {
    left:0;top:0;right:0;bottom:0;
    color:#546E7A00;
    /* transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: top, left, right, bottom, color; */
}
/* .closet-container .map-selector.hover {
    color:#0b4441b0;
    color:#7468054b;
} */

/* .map-selector #image-map::after {
    box-shadow: 3px 3px 3em 1em rgba(165, 149, 3, 0.651);
} */

.map-selector:after {
    /* content: '';
    position: absolute;
    top: inherit;right: inherit;bottom: inherit;left: inherit;
    background: currentColor;
    box-shadow: 1px 1px 3em 1em rgba(8, 80, 46, 0.37);
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: top, left, right, bottom, background;
    pointer-events: none; */
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.2s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #0c504ad2;
    color: white;
    font-size: 150%;
    position: absolute;
    padding: 5px;
    top: 0%;
    right:45%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 2px solid rgb(201, 166, 14);
    border-radius: .25em;
    z-index: 99999;
    visibility: hidden;
}
/* [data-title] {
    position: relative;
} */
/* ============================================ */

.add-item-icon {
    position: absolute;
    left: 10%;
    bottom: 0%;
    border: 5px soild lawngreen;
    z-index: 59632;

}
.fa-shopping-bag{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(33, 51, 45);
    background-color: rgba(255, 255, 255, 0.753);
    border:3px solid rgb(201, 166, 14);
    border-radius: 2em;
    font-size: 40px;
    height: 70px;
    width: 70px;
}
/* .fa-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(33, 51, 45);
    background-color: rgba(255, 255, 255, 0.753);
    border:3px solid rgb(201, 166, 14);
    border-radius: 2em;
    font-size: 40px;
    height: 70px;
    width: 70px;
} */
/* .fa-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(245, 245, 245, 0.76);
    border-radius: 2em;
    font-size: 40px;
    height: 70px;
    width: 70px;
} */
